name: Deploy Vite to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install
        run: |
          cd liana-app
          npm install

      - name: Build
        run: |
          cd liana-app
          npm run build

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: liana-app/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
